<%- include('../partials/navbar.ejs') %> <%-
include('../partials/response-message.ejs') %>

<div class="pt-32pt">
  <div
    class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left"
  >
    <div class="flex d-flex flex-column flex-sm-row align-items-center">
      <div class="mb-24pt mb-sm-0 mr-sm-24pt">
        <h2 class="mb-0">Edit events</h2>

        <ol class="breadcrumb p-0 m-0">
          <li class="breadcrumb-item"><a href="/eventses">Events</a></li>
          <li class="breadcrumb-item">Edit events</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- BEFORE Page Content -->

<!-- // END BEFORE Page Content -->

<!-- Page Content -->

<div class="container page__container page-section">
  <div class="row mb-32pt">
    <div class="col-lg-4">
      <div class="page-separator">
        <div class="page-separator__text">Edit events</div>
      </div>
      <img src="/uploads/<%=values.imageBanner %>" height="250" width="100%" />
      <form
        action="/events/edit/image/<%=values.id %>"
        method="post"
        enctype="multipart/form-data"
        id="image-form"
      >
        <input
          onchange="document.getElementById('image-form').submit()"
          type="file"
          id="image"
          name="event-image"
          required
          hidden
        />
      </form>
      <button
        type="button"
        class="btn btn-primary mt-3"
        onclick="document.getElementById('image').click();"
      >
        Change Image
      </button>
    </div>
    <div class="col-lg-8 d-flex align-items-center">
      <div class="flex" style="max-width: 100%">
        <form action="/events/edit/<%=values.id%>" method="post">
          <div class="form-group">
            <label class="form-label" for="eventname">Event Title*:</label>
            <input
              type="text"
              class="form-control"
              id="eventname"
              name="title"
              value="<% if(typeof values !== 'undefined') {%><%=values.title%><%}%>"
              placeholder="Enter event title"
              required
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="eventVenue">Event Venue*</label>
            <input
              type="text"
              class="form-control"
              id="eventVenue"
              name="eventVenue"
              value="<% if(typeof values !== 'undefined') {%><%=values.eventVenue%><%}%>"
              placeholder="Enter event venue"
              required
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="eventDate">Event Date</label>
            <input
              id="eventDate"
              type="hidden"
              class="form-control flatpickr-input"
              data-toggle="flatpickr"
              name="eventDate"
              value="<% if(typeof values !== 'undefined') {%><%= new Date(values.eventDate).toUTCString()%><%}%>"
              required
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="eventTime">Event Time</label>
            <input
              id="eventTime"
              type="hidden"
              name="eventTime"
              class="form-control flatpickr-input"
              placeholder="Flatpickr time example"
              data-toggle="flatpickr"
              data-flatpickr-enable-time="true"
              data-flatpickr-no-calendar="true"
              data-flatpickr-alt-format="H:i"
              data-flatpickr-date-format="H:i"
              value="08:00"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="description">Description*:</label>
            <textarea
              id="description"
              name="description"
              placeholder="Enter Description"
              class="form-control"
              rows="3"
            >
  <% if(typeof values !== 'undefined') {%><%=values.description%><%}%></textarea
            >
          </div>
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/drawer.ejs') %>
