<%- include('../partials/navbar.ejs') %> <%-
include('../partials/response-message.ejs') %>
<div class="pt-32pt">
  <div
    class="
      container
      page__container
      d-flex
      flex-column flex-md-row
      align-items-center
      text-center text-sm-left">
    <div class="flex d-flex flex-column flex-sm-row align-items-center">
      <div class="mb-24pt mb-sm-0 mr-sm-24pt">
        <h2 class="mb-0"><%=title%> </h2>
        <ol class="breadcrumb p-0 m-0">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Settlement Summary</li>
        </ol>
      </div>
    </div>
    <div class="row" role="tablist">
      <div class="col-auto"></div>
    </div>
  </div>
</div>

<!-- BEFORE Page Content -->

<!-- // END BEFORE Page Content -->

<!-- Page Content -->
<div class="container page__container page-section">
  <div class="page-separator">
    <div class="page-separator__text">Completed Settlements</div>
  </div>

  <div class="card mb-0">
    <div class="table-responsive p-3">
      <div class="d-flex mb-2 justify-content-between align-items-center">
        <div>
          <div class="form-group">
            <label class="form-label">Select date range</label><br />
            <div class="flatpickr-wrapper">
              <div
                id="recent_orders_date"
                data-toggle="flatpickr"
                data-flatpickr-wrap="true"
                data-flatpickr-mode="range"
                data-flatpickr-alt-format="Y/m/d"
                data-flatpickr-date-format="Y/m/d"
              >
                <a href="javascript:void(0)" class="link-date" data-toggle=""
                  ><%=startDate.split("T")[0]%> to <%=endDate.split("T")[0]%></a
                >
                <input
                  id="date"
                  class="flatpickr-hidden-input flatpickr-input"
                  type="hidden"
                  value="<%=startDate%> to <%=endDate%>"
                  onchange="setDateRange(this.value);"
                  data-input=""
                /><input
                  class="form-control flatpickr-input"
                  placeholder=""
                  tabindex="0"
                  type="text"
                  readonly="readonly"
                />
              </div>
            </div>
          </div>
        </div>
        <% if (user.isSuperAdmin) {%>
        <div>
          <div class="col-lg-8 d-flex" data-select2-id="18" id="select-church">
            <div class="flex" style="max-width: 100%" data-select2-id="17">

            </div>
          </div>
        </div>
        <div class="d-flex">

          <form id="settleStatusForm">
            <label class="form-label">Select Settlement Status</label><br />
            <div class="form-group">
              <div class="custom-controls-stacked">
                <div class="custom-control custom-radio">

                  <input id="rdCompleted" value="COMPLETED" name="radio-stacked" type="radio" class="form-label custom-control-input" <%if(settlementStatus==='COMPLETED'){%> checked="" <%} %> >
                  <label for="rdCompleted" class="custom-control-label">COMPLETED</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="rdPending" value="PENDING" name="radio-stacked" type="radio" class="form-label custom-control-input" <%if(settlementStatus==='PENDING'){%> checked="" <%} %> >
                  <label for="rdPending"  class="custom-control-label">PENDING </label>
                </div>

              </div>
            </div>
          </form>
        </div>
        <%}%>
      </div>

      <table
        class="
          table
          mb-0
          thead-border-top-0
          table-nowrap
          tablesort
          tablesearch-table "

        cellspacing="0"
        width="100%"
        id="data-table"
      >
        <thead>
          <tr>
            <th style="width: 150px" data-tablesort-type="string">
              Church Name
            </th>
            <th style="width: 150px" data-tablesort-type="string">
                Amount Paid
            </th>
            <th style="width: 150px" data-tablesort-type="string">
                Settlement Amount
            </th>
            <th style="width: 120px" data-tablesort-type="string">
              Profit
            </th>
            <th style="width: 120px" data-tablesort-type="string">
              Settlement status
            </th>
          </tr>
        </thead>

        <tbody>
          <% donations.forEach(donation => {%>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <%=donation.name%>
              </div>
            </td>
            <td>
              <%=parseFloat(donation.amountPaid).toLocaleString('US-en',{minimumFractionDigits: 2}) %>
            </td>
            <td>
              <%=parseFloat(donation.settleAmount).toLocaleString('US-en',{minimumFractionDigits: 2}) %>
            </td>
            <td>
              <%=parseFloat(donation.profit).toLocaleString('US-en',{minimumFractionDigits: 2}) %>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <%=donation.settlementStatus %>
              </div>
            </td>
          </tr>
          <% })%>
        </tbody>
        <tfoot>
          <tr>
            <% if (user.isSuperAdmin) {%>
            <th style="width: 50px"></th>
            <%}%>
            <th colspan="3" style="text-align: right">Total Profit:</th>
            <th>
              <%=profitSum.toLocaleString('US-en', {minimumFractionDigits: 2})%>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>

    <!-- <div class="card-body bordet-top text-right">
          15 <span class="text-50">of 1,430</span> <a href="#" class="text-50"><i class="material-icons ml-1">arrow_forward</i></a>
          </div> -->
  </div>
</div>
<%- include('../partials/drawer.ejs') %>

<script>
  $(document).ready(function () {
    var table;
    const isSuperAdmin = "<%=user.isSuperAdmin%>";
    if (isSuperAdmin === "1") {
      table = $("#data-table").DataTable({
        columnDefs: [
          {
            targets: 0,
          },
        ],
        select: {
          style: "multi",
        },
        order: [[1, "asc"]],
      });
    } else {
      table = $("#data-table").DataTable();
    }



    function updateStatus(form, status) {
      var rows_selected = table.column(0).checkboxes.selected();
      $(form).append(
        $("<input>").attr("type", "hidden").attr("name", "status").val(status)
      );
      $.each(rows_selected, function (index, rowId) {
        // Create a hidden element
        $(form).append(
          $("<input>")
            .attr("type", "hidden")
            .attr("name", "donationIds")
            .val(rowId)
        );
      });
    }
    $("#select01").select2();
  });

  function setDateRange(dateRange) {
    //if daterange not completed do nothing - (eg. complete date range = yyyy/mm/dd to yyyy/mm/dd)
    if (dateRange.includes("to")) {
      const startDate = dateRange.split(" ")[0];
      const endDate = dateRange.split("to ")[1];
      var settlementStatus = $('input[name=radio-stacked]:checked', '#settleStatusForm').val();
      return (location = `${location.origin}${location.pathname}?startDate=${startDate}&endDate=${endDate}&settlementStatus=${settlementStatus}`);
    }
  }

  function setChurch() {
    const dateRange = $("#date").val();
    setDateRange(dateRange);
  }
</script>
