<%- include('../partials/navbar.ejs') %> <%-
include('../partials/response-message.ejs') %>
<div class="pt-32pt">
  <div
    class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left"
  >
    <div class="flex d-flex flex-column flex-sm-row align-items-center">
      <div class="mb-24pt mb-sm-0 mr-sm-24pt">
        <h2 class="mb-0">Admins for <%=church.name%></h2>
        <ol class="breadcrumb p-0 m-0">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Admins</li>
        </ol>
      </div>
    </div>
    <div class="row" role="tablist">
      <div class="col-auto">
        <a href="/church/addAdmin/<%=church.id%>" class="btn btn-outline-secondary">New Admin</a>
      </div>
    </div>
  </div>
</div>

<!-- BEFORE Page Content -->

<!-- // END BEFORE Page Content -->

<!-- Page Content -->
<div class="container page__container page-section">
  <div class="page-separator">
    <div class="page-separator__text">Users</div>
  </div>

  <div class="card mb-0">
    <div class="table-responsive">
      <div class="card-header">
        <form class="form-inline">
          <label class="mr-sm-2 form-label" for="inlineFormFilterBy"
            >Filter by:</label
          >
          <input
            type="text"
            class="form-control search mb-2 mr-sm-2 mb-sm-0 tablesearch-input"
            data-tablesearch-table="#data-table"
            placeholder="Search ..."
          />
        </form>
      </div>

      <table
        class="table mb-0 thead-border-top-0 table-nowrap tablesort tablesearch-table"
        id="data-table">
        <thead>
          <tr>
            <th style="width: 150px" data-tablesort-type="string">Full Name</th>
            <th style="width: 120px" data-tablesort-type="string">Email</th>
            <th class="text-center" style="width: 48px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(user => {%>
          <tr>
            <td><%=user.firstName + ' ' + user.lastName %></td>
            <td>
              <div class="d-flex align-items-center"><%=user.email %></div>
            </td>
            <td class="text-center small">
              <a
                type="button"
                class="btn btn-danger"
                href="/church/removeAdmin/<%=user.id %>">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
          <% })%> <% if (data.length === 0) {%>
          <tr>
            <td colspan=35">
              <div class="text-center">No rows</div>
            </td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </div>

    <!-- <div class="card-body bordet-top text-right">
          15 <span class="text-50">of 1,430</span> <a href="#" class="text-50"><i class="material-icons ml-1">arrow_forward</i></a>
          </div> -->
  </div>
</div>
<%- include('../partials/drawer.ejs') %>
