<%- include('../partials/response-message.ejs') %>
<div class="pt-32pt">
  <div
    class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left"
  >
    <div class="flex d-flex flex-column flex-sm-row align-items-center">
      <div class="mb-24pt mb-sm-0 mr-sm-24pt">
        <h2 class="mb-0">Churches</h2>

        <ol class="breadcrumb p-0 m-0">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Churches</li>
        </ol>
      </div>
    </div>
    <div class="row" role="tablist">
      <div class="col-auto">
        <a href="/churches/add" class="btn btn-outline-secondary"
          >Add Chuhrch</a
        >
      </div>
    </div>
  </div>
</div>

<!-- BEFORE Page Content -->

<!-- // END BEFORE Page Content -->

<!-- Page Content -->
<div class="container page__container page-section">
  <div class="page-separator">
    <div class="page-separator__text">Churches</div>
  </div>

  <div class="card mb-0">
    <div
      class="table-responsive"
      data-toggle="lists"
      data-lists-sort-by="js-lists-values-employee-name"
      data-lists-values='["js-lists-values-employee-name", "js-lists-values-employer-name", "js-lists-values-projects", "js-lists-values-activity", "js-lists-values-earnings"]'
    >
      <div class="card-header">
        <form class="form-inline">
          <label class="mr-sm-2 form-label" for="inlineFormFilterBy"
            >Filter by:</label
          >
          <input
            type="text"
            class="form-control search mb-2 mr-sm-2 mb-sm-0"
            id="inlineFormFilterBy"
            placeholder="Search ..."
          />

          <!-- <label class="sr-only" for="inlineFormRole">Role</label>
          <select
            id="inlineFormRole"
            class="custom-select mb-2 mr-sm-2 mb-sm-0"
          >
            <option value="All Roles">All Roles</option>
          </select> -->

          <!-- <div class="ml-auto mb-2 mb-sm-0 custom-control-inline mr-0">
            <label class="form-label mb-0" for="active">Active</label>
            <div class="custom-control custom-checkbox-toggle ml-8pt">
              <input
                checked=""
                type="checkbox"
                id="active"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="active">Active</label>
            </div>
          </div> -->
        </form>
      </div>

      <table class="table mb-0 thead-border-top-0 table-nowrap">
        <thead>
          <tr>
            <th style="width: 150px">
              <a
                href="javascript:void(0)"
                class="sort"
                data-sort="js-lists-values-employee-name"
                >Church</a
              >
            </th>

            <th style="width: 120px">
              <a
                href="javascript:void(0)"
                class="sort"
                data-sort="js-lists-values-activity"
                >Email</a
              >
            </th>
            <th style="width: 120px">
              <a
                href="javascript:void(0)"
                class="sort"
                data-sort="js-lists-values-activity"
                >Phone</a
              >
            </th>

            <th style="width: 150px">
              <a
                href="javascript:void(0)"
                class="sort"
                data-sort="js-lists-values-employer-name"
                >Address</a
              >
            </th>

            <th class="text-center" style="width: 48px">
              <a
                href="javascript:void(0)"
                class="sort"
                data-sort="js-lists-values-projects"
                >Actions</a
              >
            </th>
            <th style="width: 24px" class="pl-0"></th>
          </tr>
        </thead>
        <tbody class="list" id="staff">
          <% data.forEach(church => {%>
          <tr>
            <td>
              <div
                class="media flex-nowrap align-items-center"
                style="white-space: nowrap"
              >
                <div class="avatar avatar-sm mr-8pt">
                  <img
                    src="/uploads/<%=church.image %>"
                    alt="Avatar"
                    class="avatar-img rounded-circle"
                  />
                </div>
                <div class="media-body">
                  <div class="d-flex flex-column">
                    <p class="mb-0">
                      <strong class="js-lists-values-employee-name"
                        ><%=church.name %></strong
                      >
                    </p>
                    <!-- <small class="js-lists-values-employee-email text-50"
                      >lorna_kirlin@nora.biz</small
                    > -->
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center"><%=church.email %></div>
            </td>

            <td>
              <div class="d-flex align-items-center"><%=church.phone %></div>
            </td>

            <td>
              <div class="d-flex align-items-center"><%=church.address %></div>
            </td>

            <td class="text-center js-lists-values-projects small">
              <a
                type="button"
                class="btn btn-warning"
                href="/churches/edit/<%=church.id %>"
              >
                <i class="material-icons">edit</i>
              </a>
              <a
                type="button"
                class="btn btn-danger"
                href="/churches/delete/<%=church.id %>"
              >
                <i class="material-icons">delete</i>
              </a>
            </td>
            <td class="text-right pl-0">
              <a href="" class="text-50"
                ><i class="material-icons">more_vert</i></a
              >
            </td>
          </tr>
          <% })%> <% if (data.length === 0) {%>
          <tr>
            <td colspan="5">
              <div class="text-center">No rows</div>
            </td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </div>

    <%- include('../partials/pagination.ejs') %>
    <!-- <div class="card-body bordet-top text-right">
          15 <span class="text-50">of 1,430</span> <a href="#" class="text-50"><i class="material-icons ml-1">arrow_forward</i></a>
          </div> -->
  </div>
</div>
<%- include('../partials/drawer.ejs') %>
