<%- include('../partials/navbar.ejs') %> <%-
include('../partials/response-message.ejs') %>

<div class="pt-32pt">
  <div
    class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left"
  >
    <div class="flex d-flex flex-column flex-sm-row align-items-center">
      <div class="mb-24pt mb-sm-0 mr-sm-24pt">
        <h2 class="mb-0">Edit church</h2>

        <ol class="breadcrumb p-0 m-0">
          <li class="breadcrumb-item"><a href="/churches">Churches</a></li>
          <li class="breadcrumb-item">Edit church</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- BEFORE Page Content -->

<!-- // END BEFORE Page Content -->

<!-- Page Content -->

<div class="container page__container page-section">
  <div class="row mb-32pt">
    <div class="col-lg-4">
      <div class="page-separator">
        <div class="page-separator__text">Edit church</div>
      </div>
      <!-- <p class="card-subtitle text-70 mb-16pt mb-lg-0">
        Enter church name, GPS coordinates and select an image to represent the
        church
      </p> -->
      <img src="/uploads/<%=values.image %>" height="250" width="100%" />
      <form
        action="/churches/edit/image/<%=values.id %>"
        method="post"
        enctype="multipart/form-data"
        id="image-form"
      >
        <input
          onchange="document.getElementById('image-form').submit()"
          type="file"
          id="image"
          name="church-image"
          required
          hidden
        />
      </form>
      <button
        type="button"
        class="btn btn-primary mt-3"
        onclick="document.getElementById('image').click();"
      >
        Change Image
      </button>
    </div>
    <div class="col-lg-8 d-flex align-items-center">
      <div class="flex" style="max-width: 100%">
        <form action="/churches/edit/<%=values.id %>" method="post">
          <div class="form-group">
            <label class="form-label" for="churchname">Church name*:</label>
            <input
              type="text"
              class="form-control"
              id="churchname"
              name="name"
              value="<% if(typeof values !== 'undefined') {%><%=values.name%><%}%>"
              placeholder="Enter church name"
              required
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="address">GPS co-ordinates*</label>
            <input
              type="text"
              class="form-control"
              id="address"
              name="address"
              value="<% if(typeof values !== 'undefined') {%><%=values.address%><%}%>"
              placeholder="Enter church location"
              required
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="phone">Phone*</label>
            <input
              type="tel"
              class="form-control"
              id="phone"
              name="phone"
              value="<% if(typeof values !== 'undefined') {%><%=values.phone%><%}%>"
              placeholder="Enter phone number"
              required
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="email">Email*</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              value="<% if(typeof values !== 'undefined') {%><%=values.email%><%}%>"
              placeholder="Enter email address"
              required
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="website">Website</label>
            <input
              type="url"
              class="form-control"
              id="website"
              name="website"
              value="<% if(typeof values !== 'undefined' && typeof values.website !== 'undefined' ) {%><%=values.website%><%}%>"
              placeholder="Enter church location"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="fbHandle">Facebook handle</label>
            <input
              type="url"
              class="form-control"
              id="fbHandle"
              name="fbHandle"
              value="<% if(typeof values !== 'undefined' && typeof values.fbHandle !== 'undefined' ) {%><%=values.fbHandle%><%}%>"
              placeholder="Enter facebook handle"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="IGHandle">Instagram Handle</label>
            <input
              type="url"
              class="form-control"
              id="IGHandle"
              name="IGHandle"
              value="<% if(typeof values !== 'undefined' && typeof values.IGHandle !== 'undefined' ) {%><%=values.IGHandle%><%}%>"
              placeholder="Enter instagram handle"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="twitterHandle">Twitter handle</label>
            <input
              type="url"
              class="form-control"
              id="twitterHandle"
              name="twitterHandle"
              value="<% if(typeof values !== 'undefined' && typeof values.twitterHandle !== 'undefined' ) {%><%=values.twitterHandle%><%}%>"
              placeholder="Enter twitter handle"
            />
          </div>
          <button type="submit" class="btn btn-primary mt-3">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/drawer.ejs') %>
